<!DOCTYPE html>
<html>
<head>
  <title>Vue Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body class="container">

  <h1>Vue Weather</h1>

  <div id="inputForm">

    <input type="number" class="form-control" placeholder="90210" v-model="input" v-on:keyup.enter="getWeather">

    <button type="button" class="btn btn-success" v-on:click="getWeather">Get Weather</button>

    <div id="error" v-if="error">

      <div class="panel-heading">
        <h2>Error Message</h2>
      </div>

      <div class="panel-body" id="errorMessage"></div>

    </div>

    <div id="output">

      <div class="panel panel-info">
      
        <div class="panel-heading">
          <h3 class="panel-title">City</h3>
        </div>

        <div class="panel-body">
          <p>City Name</p>
        </div>

      </div>

      <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title">Temperature</h3>
        </div>

        <div class="panel-body">

          <table class="table table-bordered">
            <tr>
              <th>Kelvin</th>
              <th>Fahrenheit</th>
              <th>Celcius</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
          </table>

        </div>

      </div>

      <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title">Condition</h3>
        </div>

        <div class="panel-body">
          <p>Condition output</p>
        </div>

      </div>

      <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title">Temperature in Pictures</h3>
        </div>

        <div class="panel-body">
          <p>Picture goes here.</p>
        </div>

      </div>

    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>

</body>
</html>